.base__wrapper {
  height: 100vh;
  display: flex;
}

.base__sidebar {
  width: 200px;
  background: white;
  border-right: 1px solid #ebebeb;
}

.base__body {
  flex: 1;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.base__body__content {
  flex: 1;
  display: flex;
  height: calc(100vh - 85px);
  overflow: hidden;
}

.base__body__content__main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.base__body__content__child {
  padding: 15px 30px;
  height: calc(100vh - 160px);
  overflow: hidden;
  overflow-y: auto;
}
