.tabbar__wrapper {
  margin-bottom: 30px;
}

.tabbar__menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabbar__menu__item {
  color: #a0a0a0;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 12px 40px;
  background: #eee;
  margin-right: 20px;
}

.tabbar__menu__item__active {
  background: #8e80ef;
  color: white;
  box-shadow: 0 9px 15px -9px #8e80ef;
}

.tabbar__menu__item:nth-last-of-type(1) {
  margin-right: 0;
}
