.navbar__wrapper {
  height: 80px;
  border-bottom: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 1fr 80px 250px;
}

.navbar__search {
  border-right: 1px solid #ebebeb;
}

.navbar__notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ebebeb;
}

.navbar__notification__img {
  height: 23px;
}

.navbar__notification__active {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid #fafafa;
  background: #8e80ef;
  border-radius: 50%;
  top: 29px;
  left: 40px;
}
