.navbar__wrapper {
  height: 80px;
  border-bottom: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 1fr 80px 250px;
}

.navbar__search {
  border-right: 1px solid #ebebeb;
}

.navbar__notification {
  border-right: 1px solid #ebebeb;
}
