.daily__heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #a4a4a4;
  font-weight: 600;
}

.daily__date {
  margin-top: 5px;
  color: #454545;
  font-size: 1.4rem;
  font-weight: bold;
}

.daily__goals__wrapper {
  margin-top: 20px;
}

.daily__goal__container {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.daily__goal__radio {
  min-height: 15px;
  min-width: 15px;
  border: 1px solid #aaa;
  border-radius: 50%;
  position: relative;
  top: 5px;
}

.daily__goal__text {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #4b4b4b;
}
