.yearly__heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #a4a4a4;
  font-weight: 600;
}

.yearly__date {
  margin-top: 5px;
  color: #454545;
  font-size: 1.4rem;
  font-weight: bold;
}
